<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micol.web.board.mapper.BoardMapper">
	<sql id="condition">
		<where>
			<if test="title !=null and title !='' ">
				TITLE LIKE '%' || #{title} || '%'
			</if>
			<if test="writer != null and writer != '' ">
				AND WRITER = #{writer}
			</if>
		</where>
	</sql>

	<!-- 전체조회 -->
	<select id="getBoardAll" resultType="com.micol.web.board.service.BoardVO">
		SELECT * from (	SELECT ROWNUM RN, A.* FROM (
		SELECT * FROM TBL_BOARD
		<include refid="condition"/>
<![CDATA[  
		) A WHERE ROWNUM <= #{last}	) WHERE RN >= #{first}
]]>
	</select>
	
	<!-- 건수조회 -->
	<select id="countBoard" resultType="int">
		SELECT COUNT(*) FROM TBL_BOARD
		<include refid="condition"/>
	</select>
	
	<!-- 단건조회 -->
	<select id="getBoard" resultType="com.micol.web.board.service.BoardVO" parameterType="string">
		SELECT *
		FROM
		TBL_BOARD
		WHERE BNO = #{bno}
	</select>

	<!-- 글등록 -->
	<insert id="insertBoard" parameterType="com.micol.web.board.service.BoardVO">
		<selectKey keyProperty="bno" resultType="string"
			order="BEFORE">
			SELECT SEQ_BOARD.NEXTVAL FROM DUAL
		</selectKey>
			INSERT INTO TBL_BOARD (BNO, TITLE, CONTENT, WRITER)
			VALUES (#{bno}, #{title}, #{content}, #{writer})
	</insert>

	<!-- 글수정 -->
	<update id="updateBoard" parameterType="boardVO">
		UPDATE TBL_BOARD
		SET
		TITLE = #{title},
		CONTENT = #{content},
		UPDATEDATE = SYSDATE
		WHERE BNO = #{bno}
	</update>

	<delete id="deleteBoard" parameterType="boardVO">
		DELETE 
  		FROM TBL_BOARD
 		WHERE BNO = #{bno}
	</delete>

</mapper>